:root {
  --primary-color: rgb(136, 44, 186);
  --secondary-color: rgb(110, 92, 92);
  --white-color: white;
  --light-danger-color: rgb(255, 223, 223);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
